/ {
    aliases {
        dht1 = &dht22_sensor;
        soil-moisture = &soil_moisture_sensor;
        bh1750 = &bh1750_sensor;
    };
};

&i2c0 {
    status = "okay";

    dht22_sensor: dht22@40 {
        compatible = "mock,sensor";
        reg = <0x40>;
        label = "DHT22";
        status = "okay";
    };
};

&spi2 {
    status = "okay";

    bh1750_sensor: bh1750@0 {
        compatible = "mock,sensor";
        reg = <0>;
        label = "BH1750";
        spi-max-frequency = <1000000>;
        status = "okay";
    };
};

&uart0 {
    status = "okay";

    soil_moisture_sensor: soil_moisture {
        compatible = "mock,sensor";
        label = "Soil_Moisture";
        status = "okay";
    };
};

