&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>; /* 100kHz */

    sht3xd: sht3xd@44 {
        compatible = "sensirion,sht3xd";
        reg = <0x44>;
        status = "okay";
        label = "SHT3XD";
    };

    bh1750: bh1750@23 {
        compatible = "rohm,bh1750";
        reg = <0x23>;  /* Typical BH1750 I2C address */
        status = "okay";
        label = "BH1750";
    };
};

/ {
	  aliases {
        led0 = &led0;
        sht3xd-emul0 = &sht3xd_emul;
	  };


    leds {
    
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&fakegpio 0 GPIO_ACTIVE_HIGH>;
            label = "FAKE_LED_0";
        };
    };

    fakegpio: gpio@0 {
        compatible = "zephyr,gpio-emul";
        gpio-controller;
        #gpio-cells = <2>;
        reg = <0 0x1000>;  /* Corrected reg property format */
        #address-cells = <1>;
        #size-cells = <1>;
        ngpios = <32>;
        status = "okay";
    };
};


